html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #2A363B;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Para garantir que o conteúdo não crie barras de rolagem */
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}

.nav-link:hover {
  opacity: 1;
}

.sign-in-btn {
  background-color: #45ADA8;
  color: #E5FCC2;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 5px;
  transition: background-color 0.5s;
  position: relative; /* Para posicionar o ::after corretamente */
}

.sign-in-btn:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sign-in-btn:hover span {
  padding-right: 25px;
}

.sign-in-btn:hover {
  background-color: #378581;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 90%;
}

.content {
  text-align: left;
  max-width: 50%;
  padding-left: 100px; /* Adiciona um padding à esquerda para deslocar o conteúdo para a direita */
}

.content h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 64px;
  color: #E5FCC2;
  margin-bottom: 5px; /* Reduzido de 10px para 5px */
}

.content p {
  font-size: 19px;
  font-weight: 600;
  color: #45ADA8;
  transition: background-color 0.5s;
}

.content p:nth-of-type(1) {
  margin-bottom: 5px; /* Ajusta a margem inferior do primeiro parágrafo */
}

.content p:nth-of-type(2) {
  margin-top: 0; /* Remove a margem superior do segundo parágrafo */
}

.sign-in-btn.large {
  font-size: 20px;
  padding: 12px 25px; /* Reduzido de 15px 30px para 12px 25px */
  font-weight: bold;
}

.image-container {
  max-width: 100%;
  display: flex;
  justify-content: flex-end; /* Move a imagem para a esquerda */
}

.image-container img {
  border-radius: 10px;
  margin-right: 20px; /* Ajusta a margem para mover a imagem suavemente para a esquerda */
}

footer {
  width: 100%;
  text-align: left;
  background-color: #1d2529;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #378a86;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 17px;
}

.zoom {
  animation: zoom-in 1s ease-out;
}

@keyframes zoom-in {
  from {
    transform: scale(0.8); 
    opacity: 0; 
  }
  to {
    transform: scale(1); 
    opacity: 1; 
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}
